<!DOCTYPE html>
<html>
<head>
	<title>our store</title>
	<h1> meet them!</h1>
</head>
<body>

<a href="/">back home</a>

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">Product Card</h2>

<!-- <div class="card">
  <img src="otis.jpeg" alt="otis" style="width:100%">
  <h1>mmmmmowwwwwwwwwwwwww</h1>
  <p class="price">$19.99</p>
  <p>your cow friend otis is the best man youll ever get!</p>
  <p><button>Add to Cart</button></p>
</div>
<a href="/cart">cartinggg</a>

<div class="card">
  <img src={{prooducts[0].link}} alt="3ow3ow" style="width:100%">
  <h1>{{products[0].description}}</h1>
  <p class="price">{{products[0].price}}</p>
  <p><button>add to cart</button></p>

</div> -->

{% for product in products %}

<div class="card">
  <img src="../{{product.picture_Link}}" alt="{{product.Name}}" style="width:100%">
  <h1>{{product.Name}}</h1>
  <p class="price"> {{product.Price}} </p>
  <p>{{product.Description}}</p>
  <p><button><a href="/Add_To_Cart/{{product.id}}"> add to cart </button> </p>
</div>

{% endfor %}
</body>
</html>